@media (max-width: 1140px) {
  .article-content {
    box-shadow: none;
    background-color: var(--bg-color);
    padding: 10px 30px;
  }
  .side {
    display: none;
  }
}

@media (max-width: 540px) {
  .article-content {
    padding: 5px 10px;
    font-size: 14px;
    .content {
      :deep(h1) {
        font-size: 20px;
      }
      :deep(h2) {
        font-size: 18px;
      }
      :deep(h3) {
        font-size: 16px;
      }
      :deep(pre) {
        padding: 10px;
        font-size: 12px;
      }
      :deep(blockquote) {
        font-size: 14px;
        line-height: 1.5;
        padding: 8px;
        border-right: 1px solid #f0f0f0;
        border-top: 1px solid #f0f0f0;
        border-bottom: 1px solid #f0f0f0;
      }
    }
    .bottom {
      margin: 5px 0;
      font-size: 12px;
      .tag {
        column-gap: 10px;
        span {
          padding: 0 2px;
        }
      }
      .icon-fenxiang::before{
        font-size: 22px;
      }
    }
  }
}
