:root {
  --container-color: #1a1e21;
  --second-color: #fd8f44;
  --text-color: #172317;
  --bg-color: #f7f9fe;
  --hover-color: hsl(24, 98%, 58%);
  --box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;

  --el-text-color-primary: var(--text-color) !important;
  --el-menu-item-font-size: 16px !important;
  --el-color-primary: var(--second-color) !important;
  --el-menu-hover-bg-color: #fff !important;
}

::selection {
  color: var(--bg-color);
  background: var(--second-color);
}

.unselectable {
  user-select: none;
}

.container {
  min-height: 80vh;
  margin: 0 auto;
  max-width: 1140px;
}

.border-common {
  box-shadow: var(--box-shadow);
  border-radius: 6px;
  background-color: #fff;
}
