:root {
    --container-color: #1a1e21;
    --second-color: #fd8f44;
    --text-color: #172317;

    --el-text-color-primary: var(--text-color) !important;
    --el-menu-item-font-size: 16px !important;
    --el-color-primary: var(--second-color) !important;
    --el-menu-hover-bg-color: #fff !important;

}

.container {
    margin: 32px 52px;
}