:root {
    --container-color: #1a1e21;
    --second-color: #fd8f44;
    --text-color: #172317;
    --bg-color: #fff;

    --el-text-color-primary: var(--text-color) !important;
    --el-menu-item-font-size: 16px !important;
    --el-color-primary: var(--second-color) !important;
    --el-menu-hover-bg-color: #fff !important;

}

::selection {
    color: var(--bg-color);
    background: var(--second-color);
}

.container {
    min-height: 80vh;
    margin: 32px 150px;
}

.unselectable {
    user-select: none;
  }
