@font-face {
  font-family: "iconfont"; /* Project id 4024197 */
  src: url('//at.alicdn.com/t/c/font_4024197_allq8affen7.woff2?t=1688294881981') format('woff2'),
       url('//at.alicdn.com/t/c/font_4024197_allq8affen7.woff?t=1688294881981') format('woff'),
       url('//at.alicdn.com/t/c/font_4024197_allq8affen7.ttf?t=1688294881981') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianchongxing-:before {
  content: "\e640";
}

.icon-wenjianjia:before {
  content: "\e622";
}

.icon-fenlei:before {
  content: "\e658";
}

.icon-fenxiang:before {
  content: "\e816";
  font-size: 26px;
}

.icon-github:before {
  content: "\e718";
  font-size: 26px;
}