@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700');

body {
  background-color: var(--bg-color);
}

* {
  scroll-behavior: auto;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans SC', sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  vertical-align: top;
  width: 100%;
}
