* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


h1 {
  margin: 0;
  padding: 0;
}

/* html {
    line-height: 1.2;
  } */
  
  ul, li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  img {
    vertical-align: top;
    width: 100%;
  }